<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </symbol>
</svg>
<div class="container mt-4">
    <div class="px-2">
        <div class="row mb-2 ">
            <div class="col d-flex justify-content-between">
                <h1>
                    <button (click)="onGoBack()" mat-icon-button><i class="fa-solid fa-arrow-left"></i></button>Customer
                    order
                </h1>
                <!-- <button mat-icon-button color="accent" class="add-button"
                    (click)="onGoTocustomerOrderProduct()"><mat-icon>add</mat-icon> </button> -->
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-xl-12">
                <!-- LODING STATE -->
                <div *ngIf="appState === DataState.LOADING_STATE ">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>

                <!-- LOADED STATE -->
                <div *ngIf="appState === DataState.LOADED_STATE">

                
                    <div class="customer-order-container">
                        <div *ngFor="let order of customerOrderList" class="order-card ">
                            <div class="order-header d-flex justify-content-between">
                                <!-- Status Badge -->
                                <div class="order-status-badge" [ngClass]="[
                                order.orderStatus === orderStatus.PENDING ? 'badge rounded-pill bg-danger':'',
                                order.orderStatus === orderStatus.APPROVED ? 'badge rounded-pill bg-warning':'',
                                order.orderStatus === orderStatus.PAID ? 'badge rounded-pill bg-success':'',
                                order.orderStatus === orderStatus.INDELIVERY ? 'badge rounded-pill bg-info':''
                            ]">
                                    {{ order.orderStatus }}
                                </div>
                                
                                <div *ngIf="!order.feeDelivered" class="order-status-badge badge rounded-pill bg-primary">
                                    self service
                                </div>
                               
                                <!-- Action Buttons -->
                                <div class="order-actions">
                                    <button mat-raised-button routerLink="/admin/assign-delivery/{{order.id}}"
                                        [disabled]="[!order.feeDelivered]">
                                        {{ order.wasAssignToDelivery ? 'View Delivery' : 'Assign Delivery' }}
                                    </button>
                                </div>
                            </div>

                            <div class="order-body" (click)="onDetails(order.id)">
                                <div class="order-details">
                                    <div class="order-detail">
                                        <mat-icon>attach_money</mat-icon>
                                        <span>Total: {{ order.total | customCurrency }}</span>
                                    </div>
                                    <div class="order-detail">
                                        <mat-icon>email</mat-icon>
                                        <span>{{ order.customer.email }}</span>
                                    </div>
                                    <div class="order-detail">
                                        <mat-icon>calendar_today</mat-icon>
                                        <span>{{ order.createdAt | date:'medium' }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>





                    <div *ngIf="customerOrderList.length === 0" class="alert alert-primary d-flex align-items-center"
                        role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                            <use xlink:href="#info-fill" />
                        </svg>
                        <div>
                            You customer order List is empty !
                        </div>
                    </div>
                </div>
                <!-- ERROR STATE -->
                <div *ngIf="appState === DataState.ERROR_STATE" class="alert alert-danger d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                        <use xlink:href="#exclamation-triangle-fill" />
                    </svg>
                    <div>
                        {{messageError}}
                    </div>
                </div>
                

            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length"
                        [pageSize]="pageSize" [disabled]="disabled" [showFirstLastButtons]="showFirstLastButtons"
                        [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []" [hidePageSize]="hidePageSize"
                        [pageIndex]="pageIndex" aria-label="Select page">
                    </mat-paginator>

                </div>
            </div>

        </div>
    </div>
</div>