/* 
.card  img{
    border-radius: 50%;
}

.example-card:hover {
    box-shadow: none;
}


h1{
    font-weight: 700;
}

h2,h3{
    font-weight: 600;
}
.price{
    font-size: 14px;
}

.but-button{
    width: 100%;
    border-radius: 15px;
} */


.example-card {
    box-shadow: 3px 3px 3px #333;
    border-radius: 15px;
    border: 1px solid #ccc;
}

.buy-button {
    width: 100%;
    border-radius: 15px;

    color: #fff;
    padding: 10px;
    font-weight: 700;
    transition: background-color 0.3s ease-in-out;

}

mat-card-content img {
    border-radius: 50%;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
    display: block;
    transition: transform 0.3s ease-in-out;
    transform: scale(1);
    cursor: pointer;
    overflow: hidden;

    background-color: #fff;

}

@media screen and (max-width: 575px) {

    img {
        max-width: 100%;
        height: auto;
    }

    /* main {
        height: 100vh;
        max-height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: thin;
    } */

    main {
        height: 600px; /* Fixed height - adjust this value as needed */
        overflow-y: auto; /* Vertical scrollbar appears only when needed */
        overflow-x: hidden; /* Prevent horizontal scrolling */
        scrollbar-width: thin; /* For Firefox */
    }

    /* Custom scrollbar styling for WebKit browsers */
    main::-webkit-scrollbar {
        width: 6px;
    }

    main::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    main::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }

    main::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

}